@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

:root {
  /* COLORS */
  --jea-color-white: white;
  --jea-color-black: black;
  --jea-color-primary: #ffcc00;
  --jea-color-secundary: #0b406a;

  /* SPACING */
  --jea-margin-xs: 5px;
  --jea-margin-s: 10px;
  --jea-margin-m: 20px;
  --jea-margin-l: 30px;
  --jea-margin-xl: 40px;
  --jea-margin-xxl: 50px;

  --jea-padding-xs: 10px;
  --jea-padding-s: 20px;
  --jea-padding-m: 30px;
  --jea-padding-l: 40px;
  --jea-padding-xl: 50px;
  --jea-padding-xxl: 60px;

  --jea-gap-xs: 10px;
  --jea-gap-s: 20px;
  --jea-gap-m: 30px;
  --jea-gap-l: 40px;
  --jea-gap-xl: 50px;
  --jea-gap-xxl: 60px;

  /* BORDER RADIUS*/

  --jea-border-radius-circle: 100%;
  --jea-border-radius-small: 10px;
  --jea-border-radius-big: 1rem;
}

/* Declaro unas clases que voy a reutilizar: */

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

/* Hago que mi body ocupe toda la web y le digo como tiene que ir ordenado */
body {
  display: grid;
  grid-template-rows: 8svh 100% 6svh;
  grid-template-columns: 1fr;
  min-height: 100svh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-gap: 10px;
  grid-row-gap: 0;
}

header.grid-container {
  grid-area: header;
  grid-template-columns: 1fr 4fr;
  height: 8svh;
  background-color: var(--jea-color-primary);
}

header.grid-container > img {
  height: 50px;
}

#navegator > ul {
  flex-direction: row;
  gap: var(--jea-gap-l);
  padding-right: var(--jea-padding-xl);
}
#navegator > ul > * {
  min-width: 50px;
}

main.grid-container {
  grid-area: main;
  grid-template-columns: 1fr;
  grid-auto-rows: 100%;
  align-items: start;
}

#hero {
  height: 500px;
  width: 100%;
  background-image: url("./assets/Header/hero_img.jpg");
  background-position: center;
  background-size: cover;
}

#hero > h1 {
  color: var(--jea-color-secundary);
  font-size: 8vw;
}

#hero > h1 > span {
  color: var(--jea-color-primary);
}

#foot {
  grid-area: footer;
  background-color: var(--jea-color-primary);
  height: 6svh;
  flex-direction: row;
  justify-content: space-around;
}

#foot > a {
  flex-direction: row;
  gap: var(--jea-gap-xs);
}

#foot > a > img {
  width: 30px;
}

/* Responsive tablets */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Responsive moviles */
@media (max-width: 767px) {
  #navegator {
    display: none;
  }
}
